@import url('https://fonts.googleapis.com/css?family=Overpass+Mono&display=swap');

body {
  margin: 5vw 10vw 0px 10vw;
  padding: 0px;
  background-color: #8782bd;
  color: #d08e83;
  font-family: 'Overpass Mono', monospace, sans-serif;
  text-shadow: 1px 1px black;
  font-size: 2rem;
}

body * {
  box-sizing: border-box;
}

h3 {
  font-weight: bolder;
  margin-top: 0;
  text-decoration: underline;
}


#outputElement {
  padding-left: 5vh;
  padding-right: 5vh;
  padding-top: 0.5vmin;
  padding-bottom: 0.5vmin;
  background-color: rgba(37, 25, 4, 0.39);
  color: #333;
  text-align: center;
  font-size: 72px;
  /*border-radius: 24px;*/
}

#outputParagraph {
  color: #fff;
}

#contentGrid {
  display: grid;
  grid-row-gap: 9vmin;
  font-size: 1.5rem;
  margin-left: 20vh;
  margin-right: 20vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

#starterContent {
  text-align: center;
  font-size: 55px;
}
